# ----------------------
# Flask
# ----------------------
flask
Flask-SQLAlchemy
psycopg2
Flask-WTF
flask-marshmallow
Flask-Login 
Flask-Migrate
Flask-OpenId




# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
