{% extends "base.html" %}


{% block js %}
{% endblock %}
{% block main %}
<!DOCTYPE HTML>
<html>
  <head>
    <title> Please login </title>
  </head>
  <body>
    
    <div class="jumbotron">
    <h1>WELCOME TO GAMES' LAND!</h1>
    <h3> Please enter your credentials to proceed</h3>
    </div>
    
    
    
    <div class = 'cred'>
      <form action="{{url_for('login')}}" method='post'>
      <h1>{{form.email(class_='form-control', placeholder='Please enter your Email')}}</h1>
      <h1>{{form.password(class_='form-control', placeholder='Please enter your Password')}}</h1>
      
      <div class = 'button'>
      <h3> {{form.submit}}</h3>
      </div>
      </form>
    </div>
  </body>
</html>
        

{% endblock %}

