{% extends "base.html" %}


{% block js %}
{% endblock %}
{% block main %}
<div class = 'container'>
 
 <div class ='profilePic'>
   <img src = '/static/filefolder/{{user.image}}' style="width:200px; height:200px;" >
   </div>
  

    
<div class = "name">
      <h1> {{user.firstname}}  {{user.lastname}}</h1>
      </div>

<div class='time'>
     {{user.date}}
   </div>

   <div class ='profile'>
             <p> Username: {{user.username}}</p>
              <p> firstname: {{user.firstname}}</p>
              <p> lastname: {{user.lastname}}</p>
               <p> id:{{user.userid}}</p>
              <p> Sex:{{user.sex}}</p>
              <p> Age:{{user.age}}10</p>
              <p> Highscore:{{user.high_score}}</p>
              <p> TDollar:{{user.TDollars}}</p>
  </div>
</div>
{% endblock %}