{%extends "base.html"%}

{%block js%}

{%endblock%}

{%block main%}

<div class="container">

<form action="{{url_for('update')}}" method="post" enctype = "multipart/form-data">
{{form.hidden_tag()}}
{{form.image.label}}:{{form.image}}<br/>
{{form.username.label}}:{{form.username}}<br/>
{{form.firstname.label}}:{{form.firstname}}<br/>
{{form.lastname.label}}:{{form.lastname}}<br/>
{{form.age.label}}:{{form.age}}<br/>
{{form.sex.label}}:{{form.sex}}<br/>
{{form.email.label}}:{{form.email}}<br/>
{{form.password.label}}:{{form.password}}<br/>
<input type="submit"/>
</form>

</div>
{%endblock%}